* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 17px;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: .8;
}
header{
    height: 300px;
    width: 100%;
    background-image: url("images/background02.jpg");
    background-size: cover;
    background-position-y: -75px;
    background-repeat: no-repeat;
    position: relative;
}
.school_name{
    height: 50px;
    background-color: rgba(0,0,0,.5);
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full_name{
    height: 100px;
    font-size: 40px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.class_name{
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 200px;
    height: 200px;
    background-image: url("images/avt.jpg");
    background-size: cover;
    border-radius: 100px;
    border: 5px #fff solid;
    position: absolute;
    bottom: -100px;
    left: 660px;
}
main{
    min-height: 500px;
    background-color: black;
    margin-top: 5px;
    padding: 200px;
}
.tittle{
    font-size: 25px;
    border-bottom: 2px #fff solid;
    padding-bottom: 7px;
    margin-top: 10px;
}
.information-tb{
    margin: 20px 0 20px 20px;
}
.information-tb tr th:first-child{
    text-align: left;
    width: 150px;
} 
.information-tb tr th:nth-child(2){
    text-align: left;
} 
.learning-outcomes-tb{
    margin: 20px 0 20px 0;
    width: 100%;
    align-items: center;
}
.learning-outcomes-tb tr td:nth-child(3)
,.learning-outcomes-tb tr td:nth-child(4)
,.learning-outcomes-tb tr td:nth-child(5)
,.learning-outcomes-tb tr td:nth-child(6) {
    text-align: center;
}
.product-tb{
    margin: 20px 0 20px 20px;
}
.product-tb tr td:nth-child(1){
    width: 120px;
}
.images_content{
    display: grid;
    width: 806px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
    margin: 40px auto;
    gap: 3px;
}
img{
    width: 100%;
    height: 100%;
}
.images_item_1{
    grid-row-start: 1;
    grid-row-end: 4;
}
.images_item_2{
    grid-column-start: 2;
    grid-column-end: 4;
}
.images_item_8{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}